dist: xenial
sudo: required

language: php

php:
  - 7.3
  - 7.4
  - 8.0

env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS=""

before_script:
  - sudo apt-get update
  - sudo apt-get install jpegoptim
  - sudo apt-get install pngquant
  - sudo apt-get install gifsicle
  - sudo apt-get install optipng
  - sudo apt-get install libjpeg-progs
  - npm install -g svgo@1.3.2
  - travis_retry composer self-update
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source

script:
  - vendor/bin/phpunit
